@CHARSET "UTF-8";

div#menu-container {
    margin: 10px 0 0 0;
    float: none;
    background: #bbb;
    border: 1px solid #bbb;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 0 10px;
}
ul.sf-menu {
    margin-bottom: 0;
    border-right: 1px solid #ddd;
}
ul.sf-menu a {
    border-left: 1px solid #ddd;
    border-top: 0;
    background: #bbb;
    color: #fff;
}
ul.sf-menu > li > a {
    text-transform: uppercase;
}
ul.sf-menu > li.current > a {
    background: #ccc;
}
.sf-menu a, .sf-menu a:visited {
    color: #fff;
}
ul.sf-menu li:hover a,
ul.sf-menu li.sfHover a {
    background: #fff;
    color: #666;
    text-decoration: none;
}
ul.sf-menu > li.clear {
    float: none;
    height: 0;
    overflow: hidden;
    clear: both;
}
ul.sf-menu ul > li {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}