@CHARSET "UTF-8";

html {
    min-height: 100%;
}
* {
    margin: 0;
    padding: 0;
    outline: none;
}
a {
    color: #048;
    background: transparent;
}
a:hover, a.selected {
    color: #06C;
    background: transparent;
    text-decoration: none;
}
body { 
    background: #E7E7E2 url('../img/administration/body.jpg') no-repeat 50% 0%;
    padding-top: 64px;
    background: #E7E7E2;
    color: #444;
    font: normal 62.5% Tahoma, sans-serif;
    padding-top: 20px;
}
p,code,ul {
    padding-bottom: 1.2em;
}
li {
    list-style: none;
}
h1 {
    font: normal 1.8em Tahoma, sans-serif;
}
h2 {
    font: bold 1.4em sans-serif;
}
h3 {
    font: bold 1em Tahoma, sans-serif;
}
table tr td {
    vertical-align: middle;
}
form,input {
    margin: 0;
    padding: 0;
    display: inline;
}
code {
    background: #FFF;
    border: 1px solid #EEE;
    border-left: 6px solid #CCC;
    color: #666;
    display: block;
    font: normal 1em Tahoma, sans-serif;
    line-height: 1.6em;
    margin-bottom: 12px;
    padding: 8px 10px;
    white-space: pre;
}
blockquote {
    background: url(img/administration/quote.gif) no-repeat;
    display: block;
    font-weight: bold;
    padding-left: 28px;
}
dl {
    width: 100%;
}
h1,h2,h3 {
    padding-top: 6px;
    color: #553;
    margin-bottom: 4px;
}
h2 a {
    color: #553;
    text-decoration: none;
}
h2 a:hover {
    color: #886;
    text-decoration: none;
}
fieldset legend {
    color: #553;
    padding-left: 2px;
    padding-right: 2px;
}
label, input[type=submit], div.selector, div.checker, div.checker span,
div.selector span,  div.selector select, div.uploader {
    cursor: pointer;
}
/* misc */
.clearer, .clear {
    clear: both;
    font-size: 0;
    height: 0;
    line-height: 0;
    display: block;
    float: none;
    overflow: hidden;
}
.left {
    float: left;
}
.right {
    float: right;
}
/* structure */
.inner-container {
    border: 2px solid #D7D7D2;
    background: #FFF;
    font-size: 1.2em;
    margin: 0 50px;
    padding: 10px;
/*    width: 950px;*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.outer-container {
    /*background: url('../img/administration/container.jpg') no-repeat 50% 100%;*/
    padding-bottom: 64px;
}
/* headere & title */
.header {
    background: url('../img/administration/header900.jpg') repeat-x;
    height: 160px;
    margin-bottom: 5px;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.header .title {
    color: #FFF;
    padding-top: 50px;
}
.header .title .sitename a {
    border-bottom: 1px dashed #657382;
    color: #FFF;
    font: normal 3em sans-serif;
    padding-bottom: 2px;
    text-decoration: none;
}
.header .title a:hover {
    border-color: #F60;
}
.header .title .slogan {
    font: normal 1.1em Verdana, sans-serif;
    padding-top: 6px;
}
/* path */
.path {
    background: #949490;
    color: #FFF;
    font: normal 1.1em Verdana, sans-serif;
    padding: 8px 12px;
}
.path a {
    color: #FAFAFA;
    text-decoration: none;
}
.path a:hover {
    color: #FFE;
    text-decoration: underline;
}
/* main */
.main {
    /*background: url(../img/administration/main.gif) repeat-y;*/
    border-top: 4px solid #FFF;
    padding: 8px 12px 0 0;
}
/* content */
.content { /*float: right;
    width: 538px;*/

}
.content .descr {
    color: #664;
    font-size: 0.9em;
    margin-bottom: 6px;
}
.content li {
    list-style: url(img/administration/li.gif);
    margin-left: 18px;
}
.content p {
    font-family: "Lucida Sans Unicode", sans-serif;
}
/* navigation */
.navigation {
    float: left;
    width: 210px;
}
.navigation h2 {
    color: #5A5A43;
    font: bold 1.1em Tahoma, sans-serif;
    line-height: 30px;
    margin: 0;
    padding-left: 12px;
}
.navigation ul {
    padding: 0;
    border-top: 1px solid #EAEADA;
}
.navigation li {
    border-bottom: 1px solid #EAEADA;
}
.navigation li a {
    font-size: 1.1em;
    color: #554;
    display: block;
    padding: 8px 0 8px 5%;
    text-decoration: none;
    width: 95%;
}
.navigation li a:hover {
    background: #F0F0EB;
    color: #654;
}
/* footer */
.footer, .graybox {
    color: #F7F7F2;
    font: bold 1em sans-serif;
    margin-top: 5px;

    margin: 10px 0 0 0;
    float: none;
    background: #bbb;
    border: 1px solid #bbb;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 9px 25px;
}
.graybox a {
    color: #fff;
    text-decoration: none;
}
.graybox a:hover {
    color: #fff;
    text-decoration: underline;
}
.footer a {
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 1px #777;
}
.footer a:hover {
    text-decoration: underline;
}
a.sf-with-ul {
    text-shadow: 1px 1px 1px #777;
}
li.sfHover a,
a.sf-with-ul:hover {
    text-shadow: 1px 1px 1px #ccc;
}
div#azioniFoto {
    text-align: left;
}
div#azioniFoto>fieldset {
    text-align: left;
    padding-left: 20px;
}
div#azioniFoto>fieldset>* {
    width: auto;
    display: inline;
    font-weight: normal;
}
.multiCheckBox {
    padding: 0px;
    border: 1px solid #ccc;
    height: 200px;
    overflow: auto;
}
.multiCheckBox input,.multiCheckBox label {
    cursor: pointer;
}
div.checkbox label {
    display: inline;
}
pre.clearAll {
    background-color: #fff;
    padding: 0px;
    color: #444444;
    font-family: Tahoma, sans-serif;
    font-size-adjust: none;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}
div#map_canvas {
    margin:0px;
    padding:0px;
}
div#map_canvas *{
    margin:0px;
    padding:0px;
}
#authMessage, #flashMessage {
    font-family: Tahoma, sans-serif;
    color: #990000;
    border: 1px solid #990000;
    padding: 15px 20px;
    background-color: #ffdfdf;
    font-size: 12px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
form.OrderedListForm {
    padding: 0px;
    margin: 0px;
}
form.OrderedListForm select {
    padding: 0px;
    margin: 0px;
    font-size: 9px;
    line-height: 9px;
    margin: 0px;
    padding: 0px;
    height: 19px;
}
th.actions {
    text-align: center;
}
dd {
    margin-left: 200px;
}
div#header {
    padding: 10px 0px;
    color: #666;
    font-weight: bold;
}
div#header .left,
div#header .right {
    padding: 0 24px 5px 24px;
}
div#header .left a,
div#header .right a {
    color: #367889;
    text-decoration: none;
}
div#header .left a:hover,
div#header .right a:hover {
    color: #367889;
    text-decoration: underline;
}
.searchbox > a {
    display: block;
    padding: 5px 0;
}
.searchbox fieldset {
}
.searchbox fieldset legend {
}
.searchbox .input, .searchbox .submit {
    padding: 0;
    font-size: 0.8em;
}
.searchbox .input label, .searchbox .input input {
    display: block;
    float: left;
}
.searchbox .input label {
    width: 100px;
    line-height: 23px;
    vertical-align: middle;
}
.searchbox .input input {
    width: 170px;
    clear: none;
    float: left;
}
.searchbox .input {
    width: 335px;
    float: left;
    clear: none;
}
.searchbox .submit {
    /*    float: right;*/
    margin: 0;
}
a.search-link {
    display: block;
    background: url(/img/backend/search.jpg) 2% 50% no-repeat;
    padding: 5px 25px;
    float: left;
}

.search-fieldset {
    display: none;
}
ul#menu_tree,
ul#menu_tree ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul#menu_tree li {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul#menu_tree .menu-item {
    border-bottom: 1px dotted #ccc;
}
ul#menu_tree li  .root-item {
    background: #fafafe;
}
ul#menu_tree div.actions {
    float: right;
    width: 300px;
    text-align: center;
}
ul#menu_tree div.actions a {
    -moz-border-radius: 8px 8px 8px 8px;
    background: -moz-linear-gradient(center top , #F1F1D4, #E6E49F) repeat scroll 0 0 #E6E49F;
    border: 1px solid #AAAC62;
    color: #333333;
    font-weight: normal;
    min-width: 0;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    margin: 0 2px;
    padding: 2px 5px;
}
ul#menu_tree div.actions a:hover {
    background: #f0f09a;
    background: -webkit-gradient(linear, left top, left bottom, from(#f7f7e1), to(#eeeca9));
}
ul#menu_tree a.menu-tree-link {
    display: block;
    float: left;
    padding: 10px 30px;
    background: url(/img/backend/page.png) 0% 50% no-repeat;
}
ul#menu_tree a.parent_menu {
    display: block;
    float: left;
    padding: 10px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
/*    background: url(/img/backend/li2.png) 10% 50% no-repeat;*/
}
ul#menu_tree ul a.menu-tree-link {
    margin-left: 30px;
}
ul#menu_tree ul ul a.menu-tree-link {
    margin-left: 60px;
}
div#menu_tree_header {
    border-bottom: 2px solid #000;
    margin-top: 20px;
}
div#menu_tree_header .left,
div#menu_tree_header .right {
    padding: 2px 10px;
    font-weight: bold;
}
div#menu_tree_header .right {
    width: 280px;
    text-align: center;
}
ul.gallery-list {
    list-style: none;
    margin:0;
    padding: 10px 0;
}
ul.gallery-list > li {
    margin: 0 10px 0 0;
    list-style: none;
    height: 190px;
    float: left;
    display: block;
    width: 168px;
    overflow: hidden;
    margin-bottom: 15px;
}
ul.gallery-list div.image {
    border: 1px solid #004488;
    padding: 4px;
    background: #ffffff;
    cursor: pointer;
}
ul.gallery-list div.image:hover {
    border: 1px solid #0066CC;
}
ul.gallery-list div.image a {
    display: block;
    height: 100px;
}
ul.gallery-list div.gallery a ,
ul.gallery-list div.title a,
ul.gallery-list div.actions {
    display: block;
    padding: 2px 5px;
    line-height: 16px;
}
ul.gallery-list div.actions div.left,
ul.gallery-list div.actions div.right {
    width: 50%;
    text-align: center;
}
ul.gallery-list div.actions div.left a,
ul.gallery-list div.actions div.right a {
    display: block;
    text-align: center;
    width: auto;
    float: none;
}
ul.gallery-list div.gallery a {
    text-transform: uppercase;
}
ul.gallery-list div.actions {
    float: none;
    width: auto;
    text-align: center;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}
ul.gallery-list div.actions a {
    width: 52px;
    text-align: center;
    display: block;
    float: left;
    text-decoration: none;
}
ul.gallery-list div.actions a:hover {
    text-decoration: underline;
}
ul.gallery-list li.unpublished .image-link-div {
    background-color: #ccc;
}
ul.gallery-list li.published .image-link-div {
    background-color: #333;
}
ul.gallery-list li.unpublished div.image {
    border: 1px solid #ccc;
}
ul.gallery-list a.image-link {
    background-position: 50% 50%;
    background-repeat: no-repeat;

}
ul.gallery-list li.clear {
    float: none;
    display: block;
    height: 0;
    line-height: 0;
    overflow: hidden;
    clear: both;
}
.imageInput img.image-preview {
    display: block;
    background: #fff;
    padding: 4px;
    border: 1px solid #ccc;
    margin: 5px 0;
}
.imageInput div.file {
    float: right;
    padding: 25px 0;
}
.image-frame {
    display: block;
    border: 1px solid #ccc;
    padding: 4px;
    margin: 10px 0;
}
div.related {
    padding: 0 14px;
}
div.related div.actions {
    padding-left: 0;
}
div.related ul.gallery-list > li {
    margin-right: 14px;
}
div.index-image-link {
    display: block;
    background: #fff;
    padding: 4px;
    border: 1px solid #cccccc;
    margin: 5px 0;
    float: left;
}
div.index-image-link:hover {
    border: 1px solid #0066CC;
}
div.index-image-link > a {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #ffffff;
    width: 135px;
    height: 80px;
    display: block;
}
.sf-menu ul {
    width: 16em;
}
td.published {
    text-align: center;
}
div.form, div.index, div.view {
    border-left: 1px solid #CCCCCC;
}
a.avatar-username {
    display: block;
    padding: 5px 20px 5px 38px;
    background: url(/img/backend/avatar.png) 0px 50% no-repeat;
}
a.listing {
/*    display: block;*/
    background: url(/img/backend/li2.png) 5px 50% no-repeat;
    padding-left: 22px;
}
fieldset.imageInput, fieldset.urlBuilder {
    margin: 0 11px 20px 5px
}
form .required label:after {
    content: " *";
}
div.selector select {
    margin-left: 3px;
}
fieldset.urlBuilder {
    padding: 5px;
    background: #f9f9f9;
}
div.urlBuilderBox {
    margin: 0px;
    padding: 2px;
    width: 32%;
    height: 100px;
    overflow-y: scroll;
    float: left;
    clear: none;
}
div.urlBuilderBox h4 {
    padding: 0 10px;
}
ul.urlBuilderList {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul.urlBuilderList li {
    display: block;
    margin: 0 0 2px 0;
    padding: 0 10px;
}
ul.urlBuilderList li a {
    display: block;
    border-bottom: 1px dotted #06c;
    border-bottom: 1px dotted #bbb;
    text-decoration:  none;
    padding: 3px 10px;
}
ul.urlBuilderList li a:hover {
    background: #fff;
}
.overlay {
    height: 0;
    overflow: visible;
    position: relative;
    padding: 0;
    margin: 0;
}
a.close_url_builder {
    position: absolute;
    display: block;
    top: -30px;
    right: -20px;
}
div#urlBuilderSpinner {
    position: relative;
    display: block;
    background: url(/img/backend/spinner.gif) 50% 50% no-repeat;
    width: 40px;
    height: 40px;
    left: 250px;
    top: 25px;
}
.urlBuilderBox {
    display: none;
}
fieldset.urlBuilder {
    height: 130px;
}
.urlBuilderBox .box {
    margin: 0;
}
.htmlFancyContainer {
    width: 800px;
    height: 600px;
}
.htmlEditor {
    padding: 0;
    margin: 0;
}
div.htmlEditor {
    position: relative;
}
a.fancyHtmlEditorLink {
    position: absolute;
    right: 12px;
    top: 8px;
}
