.DS_Store
app/config/database.php
app/tmp/logs
app/tmp/cache/models/cake_*
app/tmp/cache/persistent/cake_*
app/tmp/cache/cake_toolbar_cache*
app/tmp/cache/models/cake_*
app/tmp/cache/persistent/cake_*
plugins
vendors
nbproject/
.settings/
.project
app/webroot/img/photos/
app/webroot/img/news/
cake/console/templates/skel/tmp
app/webroot/files/attachments/

