
html, body {
}

* {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #ffffff;
    color: #1A1A1A;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 19px;
    text-transform: none;
}

ul, ol {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 10px 0;
}

a {
    color: #91BF04;
}
a:hover {
    text-decoration: none;
}

div#header {
    background: #191919;
    color: #ffffff;
}

div#header a {
    color: #ffffff;
}

div.center {
    width: 960px;
    margin: 0 auto;
}

div#header ul {
    list-style: none;
    margin: 0;
    padding: 10px 20px;
    display: block;
}
div#header ul > li {
    float: left;
    display: block;
    padding-right: 45px;
}
div#header ul a {
    display: block;
    padding: 0px;
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;
    color: #747474;
    text-transform: uppercase;
}
div#header ul a:hover {
    /*    color: #ffffff;*/
}
div#header .menu {
    /*    margin-bottom: 5px;
        border-bottom: 4px solid #ffffff;*/
}
div#header {
    padding-bottom: 12px;
}
div#banners {
    border-top: 4px solid #FFFFFF;
    border-bottom: 4px solid #FFFFFF;
    padding: 5px 0;
    height: 300px;
    overflow: hidden;
}
div#container {
    background: url(/img/content_bg.png) 0 0 repeat-x;
}
div#navigator {
    float: left;
    padding: 35px 20px;
    width: 210px;
}
div#content {
    width: 671px;
    margin-right: 39px;
    background: #ffffff;
    float: right;
    position: relative;
    margin: -38px 25px -56px 0;
}
div#content div.top {
    min-height: 200px;
    padding: 58px 58px 40px 58px;
}
div#content div.bottom {
    background: #F2F2F2;
    padding: 58px 58px 40px 58px;
}

div#footer {
    background: #191919;
    color: #ccc;
    padding-left: 55px;
}
div#footer a {
    color: #666;
    text-decoration: none;
}
div#footer a:hover {
    color: #aaa;
    text-decoration: underline;
}
div#footer div.center {
    padding: 25px 30px;
}
div#footer div.center a {

}
div#navigator ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
div#navigator ul li {
    display: block;
    margin-bottom: 3px;
}
div#navigator ul a {
    color: #666;
    display: block;
    height: 34px;
    line-height: 34px;
    text-decoration: none;
    text-transform: none;
    font-size: 15px;
    padding-left: 15px;
    position: relative;
    -webkit-box-shadow: #ccc 0px 1px 2px;
    -moz-box-shadow: #ccc 0px 1px 2px;
    box-shadow: #ccc 0px 1px 2px;
    background: #eeeefe;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#eeeefe));
    background: -moz-linear-gradient(#fff, #eeeefe);
    background: linear-gradient(#fff, #eeeefe);
    -pie-background: linear-gradient(#fff, #eeeefe);
}
div#navigator a:hover {
    color: #444;
    background: #fff;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#eeeefe), to(#fff));
    background: -moz-linear-gradient(#eeeefe, #fff);
    background: linear-gradient(#eeeefe, #fff);
    -pie-background: linear-gradient(#eeeefe, #fff);

}
#logo {
    display: block;
    height: 300px;
    background: transparent url(/img/logo02.png) center center no-repeat;
    width: 250px;
}

body #content {
    -webkit-box-shadow: #aaa 0px 2px 3px;
    -moz-box-shadow: #aaa 0px 2px 3px;
    box-shadow: #aaa 0px 2px 3px;
    
    ﻿border: 1px solid #696;
    padding: 0px 0px 0px 0px;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    background: #EEFF99;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#eeeefe));
    background: -moz-linear-gradient(#fff, #eeeefe);
    background: linear-gradient(#fff, #eeeefe);
    -pie-background: linear-gradient(#fff, #eeeefe);
}


.clear,
div#header ul > li.clear,
div#navigator ul > li.clear {
    clear: both;
    display: block;
    float: none;
    height: 0;
    line-height: 0;
    overflow: hidden;
}
.overlay {
    height: 0px;
    overflow: visible;
    display: block;
    position: relative;
}
.overlay * {
    z-index: 100;
}